.whiteonblue {
    font-family: 'Montserrat', sans-serif;
    background-color: #203080;
    color: white;
}

.blueonwhite {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #203080;
}

#todo_list_table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    border: 2px solid #203060;
}

#todo_list_table th, #todo_list_table td {
   font-family: 'Montserrat', sans-serif;
   font-size: 1em;
   border-collapse: collapse;
   border: 2px solid #203060;
   background-color: white;
   color: #203060;
   border: 1px solid black;
   padding: 1%;
}

#todo_list_table th {
    font-size: 1.1em;
    text-align: left;
    background-color: #203080;
    color: white;
}

header {
    padding: 1%;
}

footer {
        position: fixed;
	width: 100%;
	padding: 1%;
	bottom: 0;
}