header {
	font-family: 'Montserrat', sans-serif;
    background-color: #203060;
    color: white;
    padding: 1%;	 
}


item {
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	color: #203060;
    font-weight: bold;
    float: left;
    padding: 2%;	      
}

desc {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	background-color: white;
	color: #203060;
	border-left: solid #203060;
	height: 100%;
 	padding: 2%;
}

footer {
	font-family: 'Montserrat', sans-serif;
    position: fixed;
    background-color: #203060;
    color: white;
    width: 100%;
    padding: 1%;
    bottom: 0;
}